* {
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    min-height: 100vh;
    background-image: url(./bilder/logo.jpg);
    background-size: 25%;
    background-position: top right;
    background-repeat: no-repeat repeat;
}

header{
    background-color: rgb(212, 0, 0);
    position:fixed;
    width: 100%;
}

.logo-link {
    margin-right: auto;
}

.logo {
    height: 50px;
    background-color: white;
}

header nav {
    display: flex;
    grid-auto-flow: column;
}

header nav a{
    display: flex;
    align-items: center;
    color:white;
    text-decoration: none;
    padding: 16px 32px;
}

nav a:hover{
    background-color: rgba(255,255,255,1);
    color:black;
}

.kontakt img {
    width: 25%;
    position: fixed;
    left: 50%;
    top: 15%;
}

.kontakt h1 {
    color: rgb(212, 0, 0);
    font-size: 52px;
    padding-bottom: 10px;
    padding-top: 120px;
    padding-left: 30px;
    
}

.kontakt h3 {
    color: rgb(212, 0, 0);
    font-size: 28px;
    padding-left: 30px;
    width: 75%;
}

.kontakt a {
    padding-left: 30px;
    font-size: 25px;
    text-decoration: underline;
    color: rgb(212, 0, 0);
}
