* {
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    min-height: 100vh;
    background-image: url(./bilder/logo.jpg);
    background-size: 25%;
    background-position: top right;
    background-repeat: no-repeat repeat;
}

header{
    background-color: rgb(212, 0, 0);
    position:fixed;
    width: 100%;
}

.logo-link {
    margin-right: auto;
}

.logo {
    height: 50px;
    background-color: white;
}

header nav {
    display: flex;
    grid-auto-flow: column;
}

header nav a{
    display: flex;
    align-items: center;
    color:white;
    text-decoration: none;
    padding: 16px 32px;
}

nav a:hover{
    background-color: rgba(255,255,255,1);
    color:black;
}

iframe {
    width: 65%;
    height: 80vh;
    padding-top: 100px;
    padding-left: 30px;
}

.overpolitikk {
    width: 75%;
    padding-bottom: 50px;
    padding-left: 30px;
}

.overpolitikk h1 {
    color: rgb(212, 0, 0);
    font-size: 52px;
    padding-bottom: 10px;
}

.overpolitikk h2 {
    color: black;
    font-size: 24px;
}

.overpolitikk h3 {
    color: rgb(212, 0, 0);
    font-size: 28px;
    padding-bottom: 20px;
    padding-top: 30px;
}

.overpolitikk img {
    width: 75%
}